In [53]:
import os 
import pandas as pd

path_src='C:\\Users\\TMU_AIMC\\Desktop\\james\\學長'
file_name='20191118.xlsx'
df=pd.read_excel(os.path.join(path_src,file_name), header=None)
df_A_L=df.copy()
# # 讀取1~12欄的資料 法一
# column_ls=df.columns
# tmp_col=df[column_ls[0:12]]

# 讀取1~12欄的資料 法二
tmp_col=df_A_L.ix[: , 0:11]
tmp_col

C:\Users\TMU_AIMC\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  del sys.path[0]
C:\Users\TMU_AIMC\Anaconda3\lib\site-packages\pandas\core\indexing.py:822: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  retval = getattr(retval, self.name)._getitem_axis(key, axis=i)

,0,1,2,3,4,5,6,7,8,9,10,11
0,編號,Hospital,品質檢查人員/日期,品質檢查狀態,Biopsy,品質檢查小記,病歷號碼,RIS檢查單號,檢查日期(前),Biopsy 單號,Biopsy 日期(中),num1
1,1,SHH,藍功堯,OK,biopsy,OK,01602346,300116027,2011-01-17 00:00:00,300117151,2011-01-18 00:00:00,1
2,2,SHH,藍功堯,待重檢,biopsy,影像中間需再填滿,01699465,300303083,2011-03-04 00:00:00,300304056,2011-03-04 00:00:00,1
3,3,SHH,LAN6/25,ROI modified,biopsy,NaN,01595268,301206012,2011-12-06 00:00:00,301206054,2011-12-07 00:00:00,1
4,4,SHH,Dr.LAN 6/4,OK,biopsy,OK,04551296,310211026,2012-02-13 00:00:00,310218007,2012-02-20 00:00:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...
507,507,Dataset03_2015,LAN7/23,ROI modified,biopsy,NaN,4825111,341715023,2015-04-20 00:00:00,341805047,2015-05-06 00:00:00,1
508,508,Dataset03_2015,LAN7/23,ROI modified,biopsy,NaN,14582651,342028043,2015-07-29 00:00:00,342103100,2015-08-04 00:00:00,1
509,509,Dataset03_2015,LAN7/23,ROI modified,biopsy,mass,7453403,342124101,2015-08-24 00:00:00,342125064,2015-08-26 00:00:00,1
510,510,Dataset03_2015,LAN7/23,ROI modified,biopsy,應刪air_bron標註，是血管穿過(目前暫留,11335463,342330067,2015-11-06 00:00:00,342509050,2015-12-10 00:00:00,1
511,511,Dataset03_2015,LAN7/23,ROI modified,biopsy,NaN,14628045,342111081,2015-08-19 00:00:00,342215007,2015-09-16 00:00:00,1

In [23]:
columns=['Hospital','Biopsy']
df.drop(columns,axis=1) 
df
#axis: 0表示刪除行，1表示刪除列
#inplace: False表示源 DataFrame 不變（預設）
#True 表示源 DataFrame改變

KeyError: "['Hospital' 'Biopsy'] not found in axis"

In [18]:
df_A_L=pd.read_clipboard()
df_A_L
df_A_L.to_excel('A2L_col.xlsx',index=False) # index=false 不顯示行索引

In [63]:
path_dst='C:\\Users\\TMU_AIMC\\Desktop\\james\\學長'
file_name='A2L_col.xlsx'
data_pd=pd.read_excel(os.path.join(path_dst,file_name))
# single
filter=data_pd['num1']==1
filter_single_A2L=data_pd[filter]

filter_single_A2L.to_excel('filter_single_A2L.xlsx',index=False)

In [64]:
# multiple
filter=data_pd['num1']>1
filter_multiple_A2L=data_pd[filter]

filter_multiple_A2L.to_excel('filter_multiple_A2L.xlsx',index=False)

filter_multiple_A2L

,編號,Hospital,品質檢查人員/日期,品質檢查狀態,Biopsy,品質檢查小記,病歷號碼,RIS檢查單號,檢查日期(前),Biopsy 單號,Biopsy 日期(中),num1
13,14,SHH,LAN6/24不修,ROI modified,biopsy,回去分開兩顆(已分,5065882,310721012,2012/7/23,3.10724E+17,"2012/07/25,2012/08/23",2
24,25,SHH,LAN6/24不修,OK,biopsy,S10010_mod,5712858,320315024,2013/3/22,320329031,2013/4/1,2
93,94,SHH,LAN6/25,ROI modified,biopsy,s10040,2917885,340720039,2015/8/5,3.41001E+17,"2015-10-02,2015/10/14",2
94,95,SHH,LAN6/25,ROI modified,no biopsy,s10050,2917885,340720039,2015/8/5,3.41001E+17,"2015-10-02,2015/10/14",3
95,96,SHH,LAN6/25,ROI modified,no biopsy,s10060,2917885,340720039,2015/8/5,3.41001E+17,"2015-10-02,2015/10/14",4
96,97,SHH,LAN6/25,ROI modified,no biopsy,S10010,2917885,340720039,2015/8/5,3.41001E+17,"2015-10-02,2015/10/14",5
102,103,SHH,LAN6/25,ROI modified,no biopsy,s10020,3789456,340811011,2015/8/11,340916074,2015/9/17,2
103,104,SHH,LAN6/25,ROI modified,no biopsy,s10030_mod,3789456,340811011,2015/8/11,340916074,2015/9/17,3
167,168,SHH,Dr.LAN06/26,OK,no biopsy,s10020,596189,360207025,2017/3/3,360307115,2017/3/8,2
176,177,SHH,Dr.LAN06/26,ROI modified,no biopsy,s10010_mod,6174884,360330151,2017/4/7,360417113,2017/4/18,2
179,180,SHH,Dr.LAN06/26,ROI modified,biopsy,s10000_mod,225717,360417032,2017/4/20,360531088,2017/6/1,2
184,185,SHH,Dr.LAN06/26,ROI modified,no biopsy,S10020_mod,1490644,360503051,2017/5/5,x,NaN,2
185,186,SHH,Dr.LAN06/26,ROI modified,no biopsy,S10040_mod,1490644,360503051,2017/5/5,x,NaN,3
186,187,SHH,Dr.LAN06/26,ROI modified,no biopsy,S10030_mod,1490644,360503051,2017/5/5,x,NaN,5
191,192,SHH,Dr.LAN06/26,ROI modified,no biopsy,S10010_mod,2154596,360531026,2017/5/31,360614093,2017/6/15,2
237,238,SHH,Dr.LAN 6/20,ROI modified,no biopsy,S10020,10611302,370314133,2018/3/14,370320117,2018/3/21,2
344,345,Dataset01,NaN,NaN,biopsy,左側底部，貼橫膈,12415115,361725079,2017/5/17,361905093,2017/6/7,4
346,347,Dataset01,NaN,NaN,biopsy,NaN,3849576,361816013,2017/5/20,361920081,2017/6/21,2
350,351,Dataset01,NaN,NaN,biopsy,add satellie,6636225,362010009,2017/7/11,362012106,2017/7/13,2
351,352,Dataset01,NaN,NaN,biopsy,NaN,15934439,362010018,2017/7/10,362011043,2017/7/12,5
352,353,Dataset01,NaN,NaN,biopsy,NaN,2608376,362018035,2017/7/22,362028046,2017/7/31,2
353,354,Dataset01,NaN,NaN,biopsy,NaN,9724462,362028068,2017/8/24,362128066,2017/8/29,2
354,355,Dataset01,NaN,NaN,biopsy,NaN,2315810,362123010,2017/8/28,362213030,2017/9/15,2
365,366,Dataset01_2017_mass,NaN,NaN,biopsy,複雜,12381386,361510070,2017/2/17,361601065,2017/3/2,4
396,397,Dataset01_2017_mass,NaN,NaN,biopsy,v,7887314,362522013,2018/1/3,371608076,2018/3/9,4
405,406,Dataset06_Patho,NaN,NaN,biopsy,NaN,7954645,352429083,2016/12/5,352508006,2016/12/9,2
415,416,Dataset06_Patho,NaN,NaN,biopsy,NaN,2148656,361628022,2017/5/23,361907053,2017/6/8,3
421,422,Dataset06_Patho,NaN,NaN,biopsy,img有修改，待請NI確認,11184274,362211045,2017/9/14,362309016,2017/10/9,2
422,423,Dataset06_Patho,NaN,NaN,biopsy,NaN,2329107,362213069,2017/9/14,362213059,2017/9/15,2
428,429,Dataset06_Patho,NaN,NaN,biopsy,NaN,2593571,362527025,2017/12/30,371415128,2018/1/17,6
432,433,Dataset06_Patho,NaN,NaN,biopsy,NaN,809906,371415121,2018/1/20,371431057,2018/2/1,2
449,450,Dataset01,Tsai10/1,ROI modified,?,S5050RLL3,12736212,361920013,2017/6/20,361930030,2017/7/3,2
450,451,Dataset01,Tsai10/1,ROI modified,?,S5050RUL,12736212,361920013,2017/6/20,361930030,2017/7/3,4
451,452,Dataset01,Tsai10/1,ROI modified,?,S5060,12736212,361920013,2017/6/20,361930030,2017/7/3,8
458,459,Dataset01,LAN8/1,ROI modified,biopsy,待查病理，可能沒結果/整個看起來像疤,11155519,371619104,2018/3/24,371710116,2018/4/11,3
459,460,Dataset01,LAN8/1,ROI modified,biopsy,多顆毛玻璃,15798561,371928087,2018/6/28,372001021,2018/7/2,3
461,462,Dataset01,Tsai10/1,ROI modified,biopsy,NaN,16200953,362429050,2017/12/4,362526023,2017/12/27,4
465,466,Dataset01,Tsai10/1,ROI modified,biopsy,NaN,4446356,371828070,2018/6/1,371913085,2018/6/14,2
466,467,Dataset01,Tsai10/1,ROI modified,biopsy,NaN,16495016,371903023,2018/6/4,371905077,2018/6/6,2
468,469,Dataset01,Tsai 10/17,ROI modified,biopsy,S5020,4052089,371914097,2018/6/18,372003004,2018/7/4,2
469,470,Dataset01,Tsai 10/17,ROI modified,no biopsy,S5030,4052089,371914097,2018/6/18,372003004,2018/7/4,4
471,472,Dataset01_2017_mass,TSAI08/19,ROI modified,biopsy,NaN,6750389,362024088,2017/7/26,362026068,2017/7/28,2
479,480,Dataset01_2017_mass,Ni 10/21,ROI modified,biopsy,NaN,6477543,371801028,2018/5/3,371806023,2018/5/7,2
482,483,Dataset01_2017_mass,Tsai 10/23,ROI modified,biopsy,NaN,11953942,371928075,2018/6/29,371929078,2018/7/2,3
484,485,Dataset02_2016,LAN/7,ROI modified,biopsy,良,12327678,351405022,2016/1/6,351414007,2016/1/15,2
491,492,Dataset02_2016,Tsai 10/23,ROI modified,biopsy,NaN,13690380,351407085,2016/2/18,351622074,2016/3/23,4
494,495,Dataset02_2016,Tsai 10/23,ROI modified,biopsy,NaN,13967994,351412083,2016/1/13,351431015,2016/2/2,2
495,496,Dataset02_2016,Tsai 10/23,ROI modified,biopsy,語意標註02,13102973,351413055,2016/2/6,351606031,2016/3/8,2
499,500,Dataset02_2016,Tsai 10/30,ROI modified,related biopsy,NaN,2958341,351524043,2016/2/27,351923037,2016/6/24,2

In [54]:
df_M_AH=pd.read_clipboard()
df_M_AH
df_M_AH.to_excel('M2AH_col.xlsx',index=False)

In [21]:
df_AI_AM=pd.read_clipboard()
df_AI_AM
df_AI_AM.to_excel('AI2AM_col.xlsx',index=False)

In [65]:
df_A_L.query("num1=='1'")

UndefinedVariableError: name 'num1' is not defined

In [26]:
df = pd.read_csv('http://bit.ly/kaggletrain')
df = df.drop("Name", axis=1)
# df.head()
df.loc[:3,'Pclass':'Ticket']

   Pclass     Sex   Age  SibSp  Parch            Ticket
0       3    male  22.0      1      0         A/5 21171
1       1  female  38.0      1      0          PC 17599
2       3  female  26.0      0      0  STON/O2. 3101282
3       1  female  35.0      1      0            113803

In [33]:
df.query("Sex=='male'")

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,887,0,2,male,27.0,0,0,211536,13.0000,NaN,S
889,890,1,1,male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

In [45]:
male_and_age_over_70 = (df.Sex == 'male') & (df.Age > 70)
(df[male_and_age_over_70]
    .style
    .applymap(lambda x: 'background-color: rgb(153, 255, 51)', 
              subset=pd.IndexSlice[:, 'Sex':'Age']))

In [46]:
# 找出符合特定字串的樣本
df = pd.read_csv('http://bit.ly/kaggletrain')
df[df.Name.str.contains("Mr\.")].head(5)
# contains 函式接受的是正規表示式，因此需要將 . 轉換成 \.

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S

In [50]:
# 樞紐分析表(pivot table)
import seaborn as sns
df=sns.load_dataset('titanic')
df.pivot_table('survived', index='sex',columns='class')

class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447